
@media only screen and (min-width: 760px) {

 .card {
    width: 45%;
    background-color: #0c0c0cf3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    font-size: 15px;
}


 img {
    display: block;
    width: 95%;
    height: 210px;
    margin: auto; /* Agar gambar berada di tengah
     */
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    margin-top: -6px;
}

}
