/* CSS untuk Tampilan Umum */
@media only screen and (min-width: 767px) {

   /* ... (CSS sebelumnya) */

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            min-height: 100vh;
            overflow-x: hidden;
            background-color: #0d0d0df4;
        }

        header {
            background-color: #111110e2;
            color: #fffffff3;
            text-align: center;
            padding: 0px;
            position: fixed;
            z-index: 999;
            width: 100%;
            height: 89px;       
        }

        .header img {
            width: 100%;
            height: 400px;
            margin-top: 89px;
            
        }

        nav {
            position: relative;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            background-color: #111110e2;
            position: absolute;
            top: 88px;
            left: -100%;
            width: 65%;
            height: 200vh;
            transition: left 0.3s ease-in-out;
        }
        
li hr {
    width: 90%; /* Ganti dengan lebar yang diinginkan, bisa dalam persen atau nilai lainnya */
    margin: 0 auto; /* Ini akan membuat garis berada di tengah secara horizontal */
    border-bottom: 1px solid #000000dd;
}


        nav li, #h2 {
            display: block;
            text-align: center;
            margin: 0px;
            padding: 10px;
            color: #0084c5;
            position: relative;
             
        }

        nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #111110e2;
    border-radius: 0 0 5px 5px;
    z-index: 1; /* Menetapkan indeks Z untuk mengatasi tumpukan */
}

nav ul ul.active {
    display: block;
}

nav li {
    position: relative;
}

nav li:hover > ul {
    display: inherit;
    z-index: 2; /* Menetapkan indeks Z untuk submenu agar muncul di atas */
}

        a {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            color: #ddd;
        }

        .hamburger, .close-menu {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
            font-size: 30px;
        }

        .close-menu {
            display: none;
        }

        section {
            margin: 5px;
            padding: 0px;
            border: 1px solid #ddd;
            text-align: center;
            color: white;
            border-radius: 5px;
        }

        footer {
       border: 1px solid #ddd;
            width: auto; /* Menetapkan lebar 100% */
            margin-left: 0px; /* Mengatur margin kiri menjadi otomatis */
            margin-right: 0px; /* Mengatur margin kanan menjadi otomatis */
            padding: 20px; /* Ubah nilai padding sesuai kebutuhan Anda */
            
            text-align: center; /* Teks di tengah */
            background-color: #0e0e0ee6; /* Warna latar footer */
            color: #fff; /* Warna teks footer */
        }


#scrollToTopButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #3498db; /* Warna biru */
    border: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 40px;
    margin: 0 auto;
    padding: 15px; /* Menambahkan padding untuk efek hover */
    border-radius: 50px; /* Agar tombol memiliki sudut yang melengkung */
    transition: background 0.3s; /* Efek transisi saat hover */
}

#scrollToTopButton:hover {
    background: #2980b9; /* Warna biru yang berbeda saat tombol dihover */
}

#scrollToTopButton i {
    font-size: 15px;
    margin-bottom: 5px;
}


        .card {
            display: flex;
flex-direction: column;
align-items: center;
margin-left: auto;
margin-right: auto;
width: 85%;
padding: 10px;
border: 2px solid #ddd;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-top: 20px;
margin-bottom: 80px;
font-size: 20px;

        }

        .card img {
            width: 100%;
            height: 380px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .card-description {
            text-align: center;
            margin-bottom: 2px;
        }

        .release-date {
            color: #555;
            margin-bottom: 5px;
        }

        .like-button {
            background-color: #4285f4;
            color: #fff;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .like-button:hover {
            background-color: #2c64b3;
        }

        /* ... (CSS setelahnya) */

       
.floating-button {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 999;
}


.floating-button a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #0; /* Ganti dengan warna yang diinginkan */
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);   
    text-decoration: none;
}

.floating-button img {
    width: 80px; /* Sesuaikan dengan ukuran logo */
    height: 80px; /* Sesuaikan dengan ukuran logo */
    margin-top: 0px;
}


#description {
    max-height: 100px; /* Atur tinggi maksimum yang ingin ditampilkan */
    overflow: hidden;
    transition: max-height 0.5s ease; /* Animasi perubahan ketinggian */
}

#read-more1, #read-more2, #read-more3, #read-more4, #read-more5, #read-more6, #read-more7, #read-more8, #read-more9, #read-more10, #read-more11 {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background: none;
    color: #4285f4;
    font-weight: bold;
    text-decoration: underline;
}



 .slide-in-left-animation {
      animation: slideInLeft 2s forwards;
      color: white;
    }
    
     @keyframes slideInLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

 .slide-fade-animation {
      animation: slideAndFade 2s forwards;
      font-size: 15px;
    }
    @keyframes slideAndFade {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    
     .bounce-animation {
      animation: bounce 2s forwards;
    }
      @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-35px);
      }
      60% {
        transform: translateY(-5px);
      }
    }
    
     .navigation-buttons {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Efek swipe di perangkat iOS */
    justify-content: center; /* Menyusun tombol di tengah */
}

/* Navigasi button */
.navigation-buttons a {
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #225566; /* Warna latar belakang tombol */
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

/* Styling tambahan sesuai kebutuhan */
.navigation-buttons a:hover {
    background-color: #225566; /* Warna latar belakang tombol saat dihover */
}


.search-icon {
    font-size: 25px;
    color: #15cbff;
    margin-right: 0px;
    top: 0px;
}

.search-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.search-input {
    display: flex;
    align-items: center;
    background-color: #black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    
}

.search-input button {
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #0084c5;
    color: #fff;
    transition: background-color 0.3s;
}

.search-input button:hover {
    background-color: #006288;
}
.close-button {
    background-color: #0c588c;
    color: #ffffff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 100px;
    display: none; /* agar tombol awalnya tersembunyi */
    position: absolute; /* Menggunakan posisi absolute agar dapat ditempatkan di pojok layar */
    top: 30px;
    right: 20px;
}


.info {
  width: 50%;
  height: auto;
  padding: 25px;
  border: 1px solid #00abff54;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #02020284;
  margin: auto; /* Menengahkan secara horizontal */
  top: 75px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-bottom: 25px;
}


.info:hover {
  box-shadow: 0 8px 16px rgba(255, 165, 0, 0.2);
  background-color: #0d0d0eb9;
}

.info p, .info h3{
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.5;
  color: white;
  text-align: center;
}



.iconinf {
    text-align: center;
}

.fas.fa-lightbulb {
    color: #165883a3;
    font-size: 80px;
}

.fas.fa-rocket{
    color: #830500a3;
    font-size: 80px;
}

.fas.fa-crown{
    color: #836c37a3;
    font-size: 80px;
}

.fas.fa-lock{
    color: #008338a3;
    font-size: 80px;
}

.Seputar {
  width: 98%;
  padding: 0px;
  border: 1px solid #377e83a3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #02020284;
  margin: auto; /* Menengahkan secara horizontal */
  top: 75px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-bottom: 2px;
  margin-top: 2px;
  color: white;
  
}


.Seputar h3 {
text-align: center;

}

/*untuk hiasan card halaman*/
.custom-info {
    width: 100%;
    min-width: 225px; /* Sesuaikan dengan lebar minimum yang diinginkan */
    max-width: 90%; /* Sesuaikan dengan lebar maksimum yang diinginkan */
    margin: auto; /* Ini akan membuat card terpusat secara horizontal */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #151c32;
    border: 1px solid #377e83a3;
    display: flex; /* Membuat flex container */
    flex-direction: column; /* Menata anak-anak secara vertikal */
    align-items: center; /* Menyusun anak-anak ke tengah secara horizontal */
}






.custom-info .kunci {
    font-size: 20px; 
    color: #00ff42b4;
}

.custom-info .api {
    font-size: 20px;
    color: #ff0a00b4;
}

.custom-info .developer {
    font-size: 20px;
    color: #ffdfd5b4;
}

.custom-info .kalender {
    font-size: 20px;
    color: #80eaffb4;
}


.custom-info p {
    margin: 5px 0; 
    line-height: 1.5; 
}

/*scroll*/
#scrollIndicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px; /* Sesuaikan dengan ketebalan yang diinginkan */
    background-color: #3498db; /* Sesuaikan dengan warna yang diinginkan */
    width: 0;
    transition: width 0.3s; /* Efek transisi saat memanjang */
}
/*scroll*/
#user-info {
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 3px;
      border-radius: 8px;
      text-align: center;
      font-size: 14px;
      margin: 10px;
    }


}

    
